/nbproject/private/
/nbproject/*

/*/sessions/
/*/logs/
/*/resources/
/*/json/
/*/lang/
/*/files/



vendor
composer.phar
composer.lock

env.php

# Playwright (e2e/)
node_modules/
e2e-report/
test-results/
